<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="StorageManage.Properties.Settings.StorehouseConnectionString"
      connectionString="Data Source=.;Initial Catalog=Storehouse;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnStr" value="server=.;database=Storehouse;uid=sa;pwd=123456;Max Pool Size=20000;"/>
    <add key="CompanyName" value="法尔胜泓昇重工有限公司"/>
    <!--调拨单货品是否自动计算平均单价 true:填充 flase:不填充-->
    <add key="IsAutoFillRemovePrice" value="flase"/>
    <add key="IsStartAutoUpdate" value="false"/>
    <add key="Ver" value="1.0.0"/>
    <!--<add key="ServerPath" value="\\wanghm\Server$\"/>-->
    <add key="ServerPath" value="\\xmj\Server$\"/>
    <add key="IsAutoFillBillOutPrice" value="true"/>
  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
